@font-face {
  font-family: "Roc Grotesk";
  src: url("/src/assets/fonts/Fontspring-DEMO-rocgrotesk-regularotf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/src/assets/fonts/Fontspring-DEMO-rocgrotesk-medium.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/src/assets/fonts/Fontspring-DEMO-rocgrotesk-bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("/src/assets/fonts/Fontspring-DEMO-rocgrotesk-black.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

.font-roc-regular{
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 200;
}

.font-roc{
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 300;
}

.font-roc-normal{
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 400;
}

.font-roc-bold{
    font-family: "Roc Grotesk", sans-serif;
    font-weight: 500;
}